.results-list{
    padding-inline-start: 0px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 10px;
}
.results-container{
    padding: 25px;
}
.item-list{
    margin: 5px;
}