.container-detail__card {
  position: relative;
  width: 100%;
  background-color: #00afc7;
  @media all and (min-width: 920px) {
  display: flex;
  justify-content: space-between;
  align-items: center;
  }
}
.detail__card-list {
  font-size: 22px;
  padding: 10px;
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.return {
  font-size: 22px;
  position: absolute;
  right: 0;
  top: -22px;
}
.card-image-detail {
  display: flex;
  flex-basis: 1;
  justify-content: center;
  align-items: center;
  width: 260px;
}
.detail__name {
  font-weight: bold;
}
