.card {
  width: 260px;
}
.card__data {
  padding: 20px;
  text-align: left;
  font-size: 22px;
  background-color: #00afc7;
  @media all and (min-width: 640px) {
     font-size: 20px;
  }
}
.card__image {
  display: flex;
  justify-content: center;
  align-items: center;
}
